<html>
<div>
  <app-header></app-header>
</div>

<div>

  <nav class="navbar">
    <div (click)="closeSidenav()">
      <button for="checkbox_toggle" class="hamburger"> &#9776;</button>
    </div>

    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox_toggle" />

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">

      <!-- NAVIGATION MENUS -->
      <div class="menu">

        <li class="services">
          <a href="/crear-Subasta">{{'home.subastar' | translate}}</a>
        </li>
        <li class="services">
          <a href="/crear-Producto">{{'home.vender' | translate}}</a>
        </li>
      </div>
    </ul>
  </nav>

  <div id="side" class="nav-box" style="display: none;">
    <nav class="caja_nav">
      <div><img src="../../../assets/Bid&Go_sin_fondo.png" width="150" height="150"></div>
      <h1>{{'home.buscar-categoria' | translate}}</h1>
      <ul>
        <li>{{'home.vehiculos' | translate}}</li>
        <li>{{'home.relojes' |translate}}</li>
        <li>{{'home.fotografia' | translate}}</li>
        <li>{{'home.electrodomesticos' |translate}}</li>
        <li>{{'home.ropa' |translate}}</li>
      </ul>

    </nav>

  </div>

  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" *ngIf="opened">
      <h1 class="h1-desplegable">{{'home.buscar-categoria' | translate}}</h1>
      <ul>
        <li class="li-categoria"><button class="button-categoria" (click)="butttonid(0)">· {{'home.todo' |
            translate}}</button></li>
        <li class="li-categoria"><button class="button-categoria" (click)="butttonid(1)">· {{'home.vehiculos' |
            translate}}</button></li>
        <li class="li-categoria"><button class="button-categoria" (click)="butttonid(2)">· {{'home.relojes' |
            translate}}</button></li>
        <li class="li-categoria"><button class="button-categoria" (click)="butttonid(3)">· {{'home.fotografia' |
            translate}}</button></li>
        <li class="li-categoria"><button class="button-categoria" (click)="butttonid(4)">· {{'home.electrodomesticos' |
            translate}}</button></li>
        <li class="li-categoria"><button class="button-categoria" (click)="butttonid(5)">· {{'home.ropa' |
            translate}}</button></li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content>
      <!--carusel-->
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img class="left" src="../../../assets/imgCarusel/porche tycan.jpg" alt="Random second slide">
          </div>

        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">

            <img class="left" src="../../../assets/imgCarusel/ferrari.jpg" alt="Random first slide">
          </div>

        </ng-template>
      </ngb-carousel>
      <!--contenido-->
      <br><br><br>
      <form [formGroup]="buscadorInput">
        <input type="text" formControlName="nombreBuscador" id="buscadorId" (click)="buscador()"
          placeholder="Buscador...">
      </form>

        
      <h1 class="tineda" *ngIf="this.printnum ==null">{{'home.todos' | translate}}</h1>
      <h1 class="tineda" *ngIf="this.printnum ==1">{{'home.todosvehiculos' | translate}}</h1>
      <h1 class="tineda" *ngIf="this.printnum ==2">{{'home.todosrelojes' | translate}}</h1>
      <h1 class="tineda" *ngIf="this.printnum ==3">{{'home.todosfotografia' | translate}}</h1>
      <h1 class="tineda" *ngIf="this.printnum ==4">{{'home.todoselectrodomesticos' | translate}}</h1>
      <h1 class="tineda" *ngIf="this.printnum ==5">{{'home.todoropa' | translate}}</h1>
      <div class="padre">
        <div class="centrar">







          <div class="card" *ngFor="let ProductoListado of listaProductos,  let i = index">
            <a [routerLink]="['/producto' ,ProductoListado.Nombre, ProductoListado.idProducto]" class="a_card">

              <div class="cat">
                <div class="divImg">
                  <img class="img-producto" src="{{ProductoListado.Imagen}}" alt="{{ProductoListado.Nombre}}">
                </div>
              </div>
              <h1 class="NombreProducto">{{ProductoListado.Nombre}}</h1>
              <p>{{ProductoListado.Descripcion}}</p>
              <p class="price">{{ProductoListado.Precio}}€</p>
              <div *ngIf="this.ProductoListado.Subasta == 1">
                <p>o Mejor oferta</p>
              </div>
            </a>
          </div>
        </div>
      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>





</html>