#adminNavbar {
    direction: ltr;
    color: #c3c4c7;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.46153846;
    height: 32px;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    z-index: 99999;
    background: #1d2327;
}

#adminNavbar * {
    height: auto;
    width: auto;
    margin-left: 0.25%;
    padding: 0;
    position: static;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    font-size: 13px;
    font-weight: 400;
    line-height: 2.46153846;
    border-radius: 0;
    box-sizing: content-box;
    transition: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

#adminNavbar .enlaces .menu-arriba {
    text-align: left;
}

#adminNavbar .menu-arriba li {
    background: 0 0;
    clear: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: 0;
    display: inline;
    z-index: 99999;
}

#adminNavbar ul{
    background: 0 0;
    clear: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: 0;
    z-index: 99999;

}
.navbar-items{
    text-decoration: none;
    color: white !important;
}

.separar{
    margin-left: 5%;
}

