
<div class="contenedor-perfil">
  <div class="separador1">
    <div class="posicion-imagen-perfil">
      <img class="imagen-perfil" src="../../../../assets/avatardefault.png" alt="">
      <h1>Hola</h1>
    </div>
    <button class="button-direciones">Direciones</button>
    <button class="button-editar" >Editar perfil</button>
    <button class="button-cerrar" >Cerrar sesión</button>
  </div>
  <div class="separador2">
    <h3>informacion</h3>
    <hr>
    <p>Nombre:</p>
    <p>Apellidos:</p>
    <p>Nombre:</p>
    <p>Apellidos:</p>
    <p>Nombre:</p>
    <p>Apellidos:</p>

  </div>
</div>