<app-header></app-header>
<div class="contenedor-perfil">
  <div class="separador1">
    <div class="posicion-imagen-perfil">
      <img class="imagen-perfil" src="{{this.datosUsuario.Imagen}}" alt="">
      <h1>{{this.datosUsuario.Nombre}} {{this.datosUsuario.Apellidos}}</h1>
    </div>
    <button class="button-direciones" (click)="mostrarDesplegableDireciones()">{{'perfilAdmin.direcciones' |translate}}</button>
    <button class="button-editar" (click)="mostrarDesplegableEditarPerfil()">{{'perfilAdmin.editar' |translate}}</button>
    <button class="button-cerrar" (click)="swalSalir()">{{'perfilAdmin.cerrar' |translate}}</button>

  </div>
  <div class="separador2">
    <div class="informacion">
      <h3>{{'perfilAdmin.perfil' |translate}}</h3>

      <hr>
      <div *ngIf="this.esconderPerfil">
        <p class="info-perfil">{{'perfilAdmin.nombre' |translate}}: {{this.datosUsuario.Nombre}}</p>
        <br>
        <p class="info-perfil">{{'perfilAdmin.apellidos' |translate}}: {{this.datosUsuario.Apellidos}}</p>
        <br>
        <p class="info-perfil">{{'perfilAdmin.email' |translate}}: {{this.datosUsuario.Email}}</p>
        <br>
        <p class="info-perfil" *ngIf="this.cojerDireccion.Direccion !=null">{{'perfilAdmin.direccion' |translate}}: {{this.cojerDireccion.Direccion}}</p>
      </div>
    </div>
    <div class="alinar-contenido">
      <!--
        Direciones
      -->
      <app-editar-direccion *ngIf="this.mostrarDesplegableVisual"></app-editar-direccion>

    </div>


    <!--
  editar perfil
-->
    <app-editar-datos-usuario *ngIf="this.mostrarDesplegableEditarPerfilVisual"></app-editar-datos-usuario>
  </div>
</div>

<app-footer></app-footer>