<h1>Autentificación productos</h1>
<table class="info-table">
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Categoria</th>
      <th>Fecha</th>
      <th>Precio</th>
      <th>Imagen</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of listaProductosValidar; let i = index">
      <td class="first"></td>
      <td>{{prod.Nombre}}</td>
      <td>{{prod.Descripcion}}</td>
      <td>{{prod.Categoria}}</td>
      <td>{{prod.Fecha}}</td>
      <td>{{prod.Precio}}</td>
      <td><img class="img-table" src="{{prod.Imagen}}"></td>
      <td class="last">
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg"
            viewBox="0 0 16 16">
            <path
              d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
          </svg>
        </button>
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z" />
            <path fill-rule="evenodd"
              d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z" />
          </svg>
        </button>

      </td>
    </tr>
</table>