.h1-historial{
    text-align: center;
    color: var(--dorado);
    margin: 15px;
}


/*card*/
.card{
  margin: 5px;
}


.h3-venta{
  width: auto;
  float: left;
  margin-top: 20px;
  color: var(--verdeprincipal);
  margin-bottom: 0px;
}

.p-venta{
  width: auto;
  float: right;
  margin-top: 20px;
  color: var(--dorado);
}

img{
  float: left;
  width: 150px;
  border-radius: 5px;
  margin: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.desc-venta{
  margin-top: -20px;
  width: 70%;
  color: #666;
}

button{
  background-color: transparent;
  border: none;
  color: #666;
  float: right;
  cursor: pointer;
  transition: 1s;
  margin-top: -15px;
}

button:hover{
  color: var(--dorado);
  transition: 0.5s;
}

span{
  color: #666;
  margin-left: 5px;
}

h6{
  margin: 15px;
  margin-left: 60px;
}

h4{
  margin: 15px;
  margin-left: 40px;
  color: var(--verdeprincipal);
}

.separador1{
  width: 50%;
  float: left;
}
.separador2{
  float: right;
  width: 50%;
}