<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>¿Quienes somos?</h1>
      <p><span>Bid&go</span> es un sitio destinado a la subasta y comercio electrónico de productos a través de
        internet. Es
        uno de los pioneros en este tipo de transacciones, habiendo sido fundado el 21 de septiembre de 2021.</p>
      <h3>¿Cuál es el público de Bid&go?</h3>
      <p><span>Bid&go</span> es un sitio de compras en línea que es mejor conocido por sus subastas y ventas de
        consumidor a
        consumidor.
        También es extremadamente popular para los comerciantes en línea para usar como un canal de ventas.
        <span>Bid&go</span> está
        disponible en muchos países diferentes.
      </p>
      <h3>¿Qué quiere decir de segunda mano en Bid&go?</h3>
    </div>
    <p>A lo largo de los años, la gran mayoría de productos que se pueden adquirir en <span>Bid&go</span> son de segunda mano.
      Productos que sus dueños ya no quieren o necesitan, y ponen a la venta, ya sea a modo subasta o con alguna de las
      otras maneras.</p>

  </div>
</div>





<app-footer></app-footer>