<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Políticas del vendedor</h1>
      <p>Cada vez que crees un anuncio, tendrás que elegir un conjunto de políticas del vendedor; es decir, la
        información de pago, envío y devoluciones destinada a los compradores. Tienes la posibilidad de hacer que el
        proceso de creación de anuncios —y la gestión de los anuncios existentes— sea más eficiente; para ello, basta
        con que crees plantillas de políticas en las que guardar tus preferencias en relación con cada una de las áreas
        mencionadas anteriormente.

        Las políticas del vendedor son importantes, pues indican al comprador cómo puede pagarte, cuánto tiempo tardarás
        en enviarle el artículo, qué servicios de entrega ofreces (incluida la información relativa a los gastos de
        envío y embalaje) y si aceptas devoluciones o no.

        En lugar de definir tus preferencias para cada uno de estos aspectos en cada anuncio que crees, puedes optimizar
        el proceso mediante la creación de plantillas. Posteriormente, podrás aplicarlas durante la creación de anuncios
        nuevos o incluso utilizarlas para actualizar varios anuncios existentes.

        Si las preferencias de tus políticas del vendedor varían en función del tipo de artículo, puedes crear distintas
        plantillas. Esto te ofrece flexibilidad, pues podrás especificar distinta información de pago, envío o
        devoluciones según el artículo que vayas a poner en venta. Para empezar a utilizar políticas del vendedor, es
        necesario que actives esta opción.</p>

      <h1>Devolver un artículo y solicitar un reembolso</h1>
      <p>Si el artículo llega dañado o defectuoso, puedes devolverlo y obtener un reembolso. Si has cambiado de idea y
        quieres devolverlo, puedes preguntarle al vendedor si acepta una devolución.</p>
      <p>Iniciar una devolución
        Para iniciar una devolución, selecciona el artículo que quieres devolver en la sección de compras recientes o
        sigue estos pasos:

        Busca el artículo en el Historial de compras y selecciona Devolver este artículo.
        Selecciona el motivo de la devolución.
        Si el artículo te ha llegado con desperfectos, roto o defectuoso, añade un máximo de 10 fotos correspondientes
        al motivo de devolución del artículo y que muestren los desperfectos o defectos que tenga.
        A la hora de cargar imágenes, asegúrate de seguir nuestra Política sobre texto e imágenes.
        Selecciona Enviar.</p>

      <h1>Política sobre artículos no pagados</h1>
      <p>Los compradores deben pagar los artículos que han comprado en bid&go en un plazo de 4 días naturales.

        Si el comprador no realiza el pago en este plazo, el vendedor puede cancelar el pedido y se registrará una
        cancelación por impago en la cuenta del comprador.

        ¿En qué consiste la política?
        Cuando un comprador valida la compra de un artículo en bid&go, ya sea ganando una subasta, aceptando una oferta de
        un vendedor o seleccionando ¡Cómpralo ya! en un anuncio, está obligado a completar la compra enviando el pago
        íntegro al vendedor.

        Antes de validar la compra, el comprador debe tener en cuenta lo siguiente:

        Todas las condiciones detalladas por el vendedor en el anuncio, incluidos los gastos de envío y de manipulación
        Al pujar por un artículo en una subasta, te comprometes a comprar y las pujas solo se pueden retirar en
        circunstancias excepcionales
        No pagar los artículos es una infracción de nuestra Política sobre comportamientos abusivos de los compradores.

        Cuando un vendedor cancela un pedido porque el comprador no ha pagado, la cancelación por impago se registra en
        la cuenta del comprador. Los compradores que tengan demasiados casos de cancelación por impago se exponen a la
        aplicación de límites por parte de bid&go o del vendedor, e incluso a perder sus privilegios de compra. En algunas
        circunstancias, los compradores pueden recurrir el registro de una cancelación por impago en su cuenta.</p>
    </div>

  </div>
</div>



<app-footer></app-footer>