
<app-header></app-header>

<div class="separador1">
  <div class="sidebar">

    <div class="menu-sidebar"><button [routerLink]="['/home']" class="contenido-sidebar">{{'dashboard.home' | translate}}</button></div>
    <div class="menu-sidebar"><button class="contenido-sidebar" (click)="mostrarValidarProductos()">{{'dashboard.gestionProductos' | translate}}</button></div>
    <div *ngIf="this.flagGP">
      <button class="contenido-sidebar" (click)="mostrarTablaVerificacionProductos()" [disabled]="this.productosNoVerificados==0">{{'dashboard.validacionProductos' | translate}}</button>
      <button class="contenido-sidebar" (click)="mostrarTablaHistorialProductos()">{{'dashboard.historialVentas' | translate}}</button>
    </div>
    <div class="menu-sidebar"><button class="contenido-sidebar" (click)="mostrarGestionProductos()">{{'dashboard.gestionUsuarios' | translate}}</button></div>
    <div *ngIf="this.flagGU">
    </div>
    <div class="menu-sidebar"><button  class="contenido-sidebar" (click)="mostrarGestionSubastas()">{{'dashboard.gestionSubastas' | translate}}</button></div>
  </div>
</div>
<div class="separador2">
  <div class="body-text">

    <div class="contenido-dashboard">
      <div class="separador-divs">
        <div class="retangulo">
          <h2>{{'dashboard.clientesRegistrados' | translate}}</h2>

              <div class="contenido-grafico-texto">
                <h3>{{this.totalUsuarios}} {{'dashboard.clientes' | translate}}</h3>
              </div>

        </div>
        <div class="retangulo">
          <h2>{{'dashboard.productosVenta' | translate}}</h2>

              <div class="contenido-grafico-texto">
                <h3>{{this.totalProductos}} {{'dashboard.productos' | translate}}</h3>
                <button (click)="mostrarTablaVerificacionProductos()" type="button" class="btn btn-warning" *ngIf="this.productosNoVerificados>0"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                    <path
                      d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                    <path
                      d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                  </svg>{{'dashboard.noverificados.1' | translate}} {{this.productosNoVerificados}} {{'dashboard.noverificados.2' | translate}}</button>
          </div>

        </div>
        <div class="retangulo">
          <h2>{{'dashboard.productosSubasta' | translate}}</h2>

              <div class="contenido-grafico-texto">
                <h3>{{this.totalProductosSubasta}} {{'dashboard.subastas' | translate}}</h3>
              </div>



        </div>
      </div>
    </div>



    <div *ngIf="this.gestionProductosVisual">
      <!-- <app-tabla-verificar-productos></app-tabla-verificar-productos> -->
      <app-gestion-productos></app-gestion-productos>
    </div>
    <div *ngIf="this.gestionUsuariosVisual">
      <app-gestion-usuarios></app-gestion-usuarios>
    </div>
    <div *ngIf="this.gestionVerificacionProductos">
      <app-tabla-verificar-productos></app-tabla-verificar-productos>
    </div>
    <div *ngIf="this.historialVentasProductos">
      <app-historial-ventas-admin></app-historial-ventas-admin>
    </div>

    <div *ngIf="this.gestionSubastaVisual">
      <app-gestion-subastas></app-gestion-subastas>
    </div>
  </div>
</div>