  <app-admin-header></app-admin-header>
  <app-header></app-header>

  <div class="separador1">
    <div class="sidebar">
      <div class="menu-sidebar"><button class="contenido-sidebar" (click)="mostrarValidarProductos()">Soporte Admin</button></div>
      <div class="menu-sidebar"><button class="contenido-sidebar">Autentificación productos</button></div>
      <div class="menu-sidebar"><button class="contenido-sidebar">Gestion Usuarios</button></div>
    </div>
  </div>
  <div class="separador2">
    <div class="body-text">
      <div class="validar-productos">
        <table class="info-table" *ngIf="this.validarproductosVisual">
          <thead>
              <tr>
                  <th></th>
                  <th>Email Usuario</th>
                  <th>Tipo de Ayuda</th>
                  <th>Estado</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr>
                      <td class="first"></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="last"></td>
              </tr>
</table>
      </div>
    </div>
  </div>
