.separador1{
    height: 100%;
    width: 15%;
}
.separador2{
    width: 100%;
    display: inline;
}


.sidebar {
    margin-top: 100px;
    height: 100%;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 40px;
    background-color: var(--verdeprincipal);
    z-index: 99;
}

.contenido-sidebar{
    color: var(--dorado);
    border: none;
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    transition: 1s;
}

.contenido-sidebar:hover{
    transition: 1s;
    cursor: pointer;
    background-color: var(--dark-spring-green);
}
