<h1>Gestion Usuarios</h1>
<table class="info-table">
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Email</th>
      <th>DNI</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of listaUsuarios; let i = index">
      <td>
        <h4>{{user.Nombre}}</h4>
      </td>
      <td>
        <h4>{{user.Apellidos}}</h4>
      </td>
      <td>
        <h4>{{user.Email}}</h4>
      </td>
      <td>
        <h4>{{user.DNI}}</h4>
      </td>
      <td class="last">
        <button>
          <app-editar-datos-usuario-modal [userSelecc]="user.idUsuario"></app-editar-datos-usuario-modal>
        </button>
        <button>
          <app-borrar-usuarios [userSelecc]="user.idUsuario"></app-borrar-usuarios>
        </button>

      </td>
    </tr>
</table>