<!DOCTYPE html>
<html lang="en">

<body>
    <div *ngIf="this.datosUsuario.idAdmin ==1"><app-admin-header></app-admin-header></div>
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo" [routerLink]="['/home']">Bid&Go</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <select (change)="changeLang($event)">
                    <option value="es" [selected]="lang == 'es'">Español</option>
                    <option value="en" [selected]="lang == 'en'">English</option>
                </select>
                <li><a [routerLink]="['/sobre-nosotros']">{{'header.sobre-nosotros' | translate}}</a></li>
                <li><a [routerLink]="['/politicas-privacidad']">{{ 'header.politicas' | translate}}</a></li>
                <li *ngIf="this.datosUsuario.idUsuario ==0"><a [routerLink]="['/login']"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
                    <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z"/>
                  </svg></a></li>
                <li class="services" *ngIf="this.datosUsuario.idUsuario !=0">
                    <a  ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                      </svg></a>
                    <ul class="dropdown" >
                        <li><a [routerLink]="['/perfil-usuario']" *ngIf="this.datosUsuario.idAdmin ==0">{{'header.perfil' | translate}}</a></li>
                        <li><a [routerLink]="['/perfil-admin']" *ngIf="this.datosUsuario.idAdmin ==1">{{'header.perfil' | translate}}</a></li>
                        <li><a href="https://bielnadal.me/src/Acceder/login.php">{{'header.tiquets' |translate}}</a></li>
                        <li><a [routerLink]="['/gestion-prodcutos-Usuario']">{{'header.ventas' |translate}}</a></li>
                        <li><a [routerLink]="['/historial-ventas']">{{'header.pedidos' | translate}}</a></li>
                        <li><a (click)="swalSalir()" >{{'header.cerrarSesion' | translate}}</a></li>
                    </ul>
                </li>
            </div>
        </ul>
    </nav>
</body>

</html>
