<!DOCTYPE html>
<html lang="en">

<body>
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">Bid&Go</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
            <!-- USING CHECKBOX HACK -->
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger">&#9776;</label>
            <!-- NAVIGATION MENUS -->
            <div class="menu">
                <li class="services">
                    <a href="/">Subastas</a>
                    <ul class="dropdown">
                        <li><a href="/">Poner Articulo en subasta</a></li>
                        <li><a href="/">Pujar por articulo</a></li>
                    </ul>
                </li>
                <li><a href="/">Sobre Nosotros</a></li>
                <li class="services"><a href="/">Contacto</a></li>
                <li><a href="/">Ayuda</a></li>
                <li class="services">
                    <a href="/">Mi Cuenta</a>
                    <ul class="dropdown">
                        <li><a href="/">Mi Perfil</a></li>
                        <li><a href="/">Mis Tiquets</a></li>
                        <li><a href="/">Pedidos</a></li>
                        <li><a href="/">Cerrar Sesión</a></li>
                    </ul>
                </li>
            </div>
        </ul>
    </nav>
</body>

</html>
