<app-header></app-header>
<h1>Empezar Subasta:</h1>
<div class="centrar">
  
  <form [formGroup]="crearSubastaForm" (ngSubmit)="onSubmit(crearSubastaForm.value)">
    

    <label for="" class="input-label">Nombre</label>
    <input type="text" maxlength="100" formControlName="nombreProducto" class=""
      placeholder="Nombre de la Subasta*"><br><br>
    <div>
      <div *ngIf="this.submitted && form.nombreProducto.errors">
        <p *ngIf="form.nombreProducto.errors.required" class="color-validators">Campo obligatorio*</p>
        <p *ngIf="form.nombreProducto.errors.minlength" class="color-validators">¡Ay! El nombre debe tener al menos 3
          caracteres*</p>
      </div>
    </div>

    <label for="" class="input-label">Descripción</label>
    <input type="text" maxlength="500" formControlName="descripcionProducto" class=""
      placeholder="Descripcion Subasta*"><br><br>
    <div>
      <div *ngIf="this.submitted && form.descripcionProducto.errors">
        <p *ngIf="form.descripcionProducto.errors.required" class="color-validators"> Campo obligatorio*</p>
        <p *ngIf="form.descripcionProducto.errors.minlength" class="color-validators">¡Ay! La descripción del producto debe contener al
          menos 5 caracteres*</p>
      </div>
    </div>

    <label for="" class="input-label">Categoria</label>
    <select class="option-select" formControlName="categoria">
      <option value="0" disabled class="option-select">Escoge una Categoria*</option>
      <option value="1" class="option-select">Vehiculos</option>
      <option value="2" class="option-select">Relojes</option>
      <option value="3" class="option-select">Cámaras y fotografia</option>
      <option value="4" class="option-select">Electrodomésticos</option>
      <option value="5" class="option-select">Ropa</option>
    </select><br><br>
    <div>
      <div *ngIf="this.submitted && form.categoria.errors">
        <p *ngIf="form.categoria.errors.required" class="color-validators">Campo obligatorio*</p>
      </div>
    </div>

    <label for="" class="input-label">Tiempo de subasta</label>
    <select class="option-select" formControlName="tiempoSubasta">
      <option value="0" selected disabled class="option-select">Escoge la duración de la subasta*</option>
      <option value="1" class="option-select">1 hora</option>
      <option value="2" class="option-select">1 dia</option>
      <option value="3" class="option-select">3 dias</option>
      <option value="4" class="option-select">7 dias</option>
      <option value="5" class="option-select">30 dias</option>
      <option value="6" class="option-select">30 segundos</option>
    </select>
    <div>
      <div *ngIf="this.submitted && form.tiempoSubasta.errors">
        <p *ngIf="form.tiempoSubasta.errors.required" class="color-validators">Campo obligatorio*</p>
      </div>
    </div>

    <label for="" class="input-label">Puja Inicial</label>
    <input type="number" maxlength="5" formControlName="pujaInicial" class="" placeholder="Precio Inicial Subasta*"><br><br>
    <div>
      <div *ngIf="this.submitted && form.pujaInicial.errors">
        <p *ngIf="form.pujaInicial.errors.required" class="color-validators">Campo obligatorio*</p>
      </div>
    </div>

    <label for="" class="input-label">Precio de Compra</label>
    <input type="number" maxlength="5" formControlName="precioCompra" class="" placeholder="Precio de Compra*"><br><br>
    <div>
      <div *ngIf="this.submitted && form.precioCompra.errors">
        <p *ngIf="form.precioCompra.errors.required" class="color-validators">Campo obligatorio*</p>
      </div>
    </div>

    <label for="">Imagen</label><br>
    <input type="file" formControlName="imagenProducto" (change)="readURL($event)"><br><br>
    <div>
      <div *ngIf="this.submitted && form.imagenProducto.errors">
        <p *ngIf="form.imagenProducto.errors.required" class="color-validators">Campo obligatorio*</p>
      </div>
    </div>
    <button type="submit" class="crear-ranking">Empezar Subasta</button>
  </form>
</div>

