
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" /> -->
<body>
    <header class="headerAcceder">
        <a class="imagenHeader" href="#">
            <img src="../../../assets/BID&GO (1).png" width="150" height="150">
        </a>
    </header>
    <main class="mainSeparador">
        <section class="separador1">
            <div class="info1">
                <svg class="iconsvg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-truck" viewBox="0 0 16 16">
                    <path
                        d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                </svg>
                <div class="textoSpan">
                    <h4>Gestiona tus pedidos</h4>
                    <span>Ten el control de todos tus pedidos y recibe notificaciones con el seguimiento</span>
                </div>
            </div>
            <div class="info1">
                <svg class="iconsvg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-ticket" viewBox="0 0 16 16">
                    <path
                        d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z" />
                </svg>
                <div class="textoSpan">
                    <h4>Gestiona tus Tickets</h4>
                    <span>Ten el control de todos tus Tickets desde el gestor soporte de Bid&Go</span>
                </div>
            </div>
            <div class="info3">
            </div>
        </section>
        <section class="separador2">
            <form action="" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                <h2>Iniciar Sesión</h2>
                <p>
                    <input id="Email" name="Email" formControlName="email" type="text" maxlength="50" minlength="3" required
                        placeholder="E-mail*" [ngClass]="{ 'is-invalid': form.email.errors }" />
                </p>
                <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                    <div *ngIf="form.email.errors.required" class="validator-error">El correo electrónico es necesario</div>
                    <div *ngIf="form.email.errors.email" class="validator-error">El correo electrónico no es correcto</div>
                </div>
                <p>
                    <input id="Password" name="Password" formControlName="passcode" [type]="passType" maxlength="50" minlength="3" required
                        placeholder="Contraseña*" [ngClass]="{ 'is-invalid': form.passcode.errors }"/>
                        <i *ngIf="this.passShown" (click)="togglePass()" class="material-icons">
                            visibility
                        </i>
                        <i *ngIf="!this.passShown" (click)="togglePass()" class="material-icons">
                            visibility_off
                        </i>
                </p>
                <div *ngIf="submitted && form.passcode.errors" class="invalid-feedback">
                    <div *ngIf="form.passcode.errors.required" class="validator-error">La contraseña es necesaria</div>
                </div>
                <p>
                    <input type="submit" href="login.php" value="Entrar" id="submit" />
                </p>
            </form>
            <div class="escogerRegistro">
                <span class="textoEscoger">¿Eres nuevo cliente?</span>
            </div>

            <a class="aButtonRegistro" routerLink="/register">
                <div class="buttonRegistro">Crear Cuenta</div>
            </a>
        </section>
    </main>
</body>