<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{'gestionProductos.gestion' | translate}}</h1>
<table class="info-table">
  <thead>
      <tr>
          <th>{{'gestionProductos.nombre' | translate}}</th>
          <th>{{'gestionProductos.precio' | translate}}</th>
          <th>{{'gestionProductos.categoria' | translate}}</th>
          <th>{{'gestionProductos.descripcion' | translate}}</th>
          <th>{{'gestionProductos.fecha' | translate}}</th>
          <th>{{'gestionProductos.imagen' | translate}}</th>
          <th>{{'gestionProductos.subasta' | translate}}</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr >
          <td>
              <h4></h4>
          </td>
          <td>
              <h4></h4>
          </td>
          <td>
              <h4></h4>
          </td>
          <td>
              <h4></h4>
          </td>
          <td>
              <h4></h4>
          </td>
          <td>
              <img class="img-table" src="">
          </td>
          <td>
              <h4 ></h4>
             
          </td>
          <td>
          </td>
      </tr>
</table>
    </div>
  </div>
</div>