<app-header></app-header>
<div class="artBox">
  <div class="seccion1">
    <h1 class="nomArt">Nombre subasta</h1>

    <div class="contenedorImg">
      <img class="imgArt" src="././assets/Bid&Go_sin_fondo.png" alt="">
    </div>


  </div>

  <div class="seccion2">

    <h3 class="titulo-desc">Descripción del producto</h3>
    <hr>
    <p class="desc">
      descripcion del articulo a subastar Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, molestias id eos animi reprehenderit deleniti impedit veritatis, optio saepe placeat architecto. Pariatur commodi saepe doloribus, nesciunt laboriosam esse quod quaerat!
    </p>
    <p class="descVendedor">
      Nombre del vendedor: Nombre y Apellido Subastador
    </p>

    <div class="bloqueTiempo">
      <h2 class="h2Tiempo">Tiempo Restante:</h2>
      <h1 class="tiempo"> {{days}}d {{hours}}h {{minutes}}m {{seconds}}s</h1>
    </div>


    <div class="contBTN">
      <hr>
      <h3 class="Precio">Precio: 100€</h3>
      <button class="btnCompra">Pujar</button>
    </div>

  </div>
</div>
<app-footer></app-footer>




