<button class="button-lapiz">
    <svg (click)="enviar(content)" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
        class="bi bi-pencil" viewBox="0 0 16 16">
        <path
            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
    </svg>
</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{'editarDireccionModal.titulo' |translate}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="modEditarDirecc" (ngSubmit)="onSubmit(modEditarDirecc.value)" *ngIf="modalClick">
            <label>{{'editarDireccionModal.direccion' |translate}}</label>
            <input type="text" formControlName="direccion" [ngClass]="{ 'is-invalid': form.direccion.errors }">
            <div *ngIf="form.direccion.errors" class="invalid-feedback">
                <div *ngIf="form.direccion.errors.required">{{'editarDireccionModal.direccion.required' |translate}}</div>
            </div>
            <br>

            <label>{{'editarDireccionModal.pais' |translate}}:</label>
            <select formControlName="pais" [ngClass]="{ 'is-invalid' : form.pais.errors}">
                <option [value]="1" [selected]>{{'editarDireccionModal.paisEs' |translate}}</option>
            </select>
            <div *ngIf="form.pais.errors" class="invalid-feedback">
                <div *ngIf="form.pais.errors.required">{{'editarDireccionModal.pais.required' |translate}}</div>
            </div>
            <br>

            <label>{{'editarDireccionModal.codigoPostal' |translate}}</label>
            <input type="text" formControlName="codigoPostal" [ngClass]="{ 'is-invalid': form.codigoPostal.errors }">
            <div *ngIf="form.codigoPostal.errors" class="invalid-feedback">
                <div *ngIf="form.codigoPostal.errors.required">{{'editarDireccionModal.codigoPostal.required' |translate}}</div>
                <div *ngIf="form.codigoPostal.errors.maxLength">{{'editarDireccionModal.codigoPostal.maxLength' |translate}}.
                </div>
                <div *ngIf="form.codigoPostal.errors.minLength">{{'editarDireccionModal.codigoPostal.minLength' |translate}}.</div>
            </div>
            <br>

            <label>{{'editarDireccionModal.localidad' |translate}}</label>
            <input type="text" formControlName="localidad" [ngClass]="{ 'is-invalid': form.localidad.errors }">
            <div *ngIf="form.localidad.errors" class="invalid-feedback">
                <div *ngIf="form.localidad.errors.required">{{'editarDireccionModal.localidad.required' |translate}}.</div>
            </div>
            <br>
            <button type="submit" class="btn btn-light" style="float: right;">{{'editarDireccionModal.aplicar' |translate}}</button>
        </form>
    </div>
    <div class="modal-footer">

        <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">{{'editarDireccionModal.cerrar' |translate}}</button>

    </div>
</ng-template>
