<html lang="en">
<app-header></app-header>

<body>
  <main>
    <br><br><br>
    <div class="basket">
      <div class="basket-module">
        <h1 class="titulo-carrito">Carrito</h1>
      </div>
      <div class="basket-labels">
        <ul>
          <li class="item item-heading">Producto</li>
          <li class="price">Price</li>
        </ul>
      </div>
      <div class="basket-product">
        <div class="item">
          <div class="product-image">
            <img src="{{producto.Imagen}}" alt="Placholder Image 2" class="product-frame">
          </div>
          <div class="product-details">
            <h1>{{producto.Nombre}}</h1>
            <p>Nombre del Vendedor: {{datosUsuario.Nombre}} {{datosUsuario.Apellidos}} </p>
            <br>
          </div>
        </div>
        <div class="price">{{producto.Precio}}</div>
        <div class="remove">
          <button [routerLink]="['/home']"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
            </svg></button>
        </div>
      </div>
      <!--direcciones-->
<br><br>
      <h1 class="titulo-carrito">Escojer direcciones de envio:</h1>
      <div *ngFor="let direcc of listaDirecciones; let i = index">
        <a (click)="cojerIdDireccion(this.idDireccion = direcc.idDireccion)">
          
          <div class="direccion-escojer">
            <button class="direccprint">
              ·  {{direcc.Direccion}}, {{direcc.codigoPostal}} {{direcc.Localidad}}
            </button> <br><br>
          </div>
        </a>
      </div>
<hr>



    </div>
    <aside>
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span>Producto en el Carrito</div>
        <div class="summary-total">
          <div class="total-title">Total</div>
          <div class="total-value final-value" id="basket-total">{{producto.Precio}}</div>
        </div>
        <div class="summary-checkout">
          <button class="checkout-cta" (click)="tramitarProducto()">Tramitar Pedido</button>
        </div>
      </div>
    </aside>
  </main>
</body>
<app-footer></app-footer>

</html>