<app-header></app-header>
<div class="artBox">
  <div class="seccion1">
    <h1 class="nomArt">Camiseta de Maradona Mundial 1986 México</h1>

    <div class="contenedorImg"><img class="imgArt" src="../../../assets/BID&GO (1).png" alt=""></div>

    <h3>Ultima Puja</h3>

    <h3>Tiempo restante: 10h"34m"24s</h3>

    <button>Pujar</button>

    <h3>10€</h3>
  </div>

  <div class="seccion2">
    <h3 class="titulo-desc">Descripcción del producto</h3>
    <p class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, suscipit natus? Velit necessitatibus, quos ratione, consequatur hic cum placeat eius porro sapiente esse vel aperiam dolores molestiae. Eaque, minus odio!</p>
  </div>
</div>


