
.seccion1{
  float: left;
  text-align: center;
  margin: 0, auto;
  height: fit-content;
  width: 50%;
  position: relative;
  padding-bottom: 2.2%;
}

.seccion2{
  float: right;
  text-align: left;
  align-items: center;
  float: right;
  padding-left: 10%;
  padding-top: 7%;
  height: fit-content;
  width: 50%;
  padding-left: 0;
  max-width: 50%;
}

.artBox{
  text-align: center;
  position: absolute;
  height: fit-content;
  width: 100%;
}
.nomArt{
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 5%;
  float: left;
  color: var(--verdeprincipal);
  width: 100%;
}

.contenedorImg .imgArt{
  background-color: gray;
  max-width: auto;
  height: auto;
  width: 100%;
  object-fit: fill;
}

hr{
  margin: 15px;
}

.desc{
  font-size: 18px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.titulo-desc{
  text-align: center;
}

.Precio{
  color: var(--dorado);
  text-align: center;
  margin: 25px;
}

.btnPuja{
  background-color: var(--verdeprincipal);
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 60px;
  width: 400px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size: 25px;
  border: none;


}

.contBTN{
  padding-top: 15%;
  padding-bottom: 21.4%;
  align-items: center;
  position: relative;
}

.info{
  padding-top: 5%;
}

.descVendedor{
  color: rgb(160, 160, 160);
  font-size: 15px;
  text-align: center;
}