<app-header></app-header>
<div class="artBox">
  <div class="seccion1">
    <h1 class="nomArt">{{producto.Nombre}}</h1>

    <div class="contenedorImg">
      <img class="imgArt" src="{{producto.Imagen}}" alt="{{producto.Nombre}}">
    </div>


  </div>

  <div class="seccion2">

    <h3 class="titulo-desc">{{'plantillaProducto.descripcion' |translate}}</h3>
    <hr>
    <p class="desc">
      {{producto.Descripcion}}
    </p>
    <p class="descVendedor">
      {{'plantillaProducto.nombreVendedor' | translate}}: {{datosUsuario.Nombre}} {{datosUsuario.Apellidos}}
    </p>


    <div class="contBTN">
      <hr>
      <h3 class="Precio" *ngIf="this.producto.Subasta==0">{{'plantillaProducto.precio' |translate}}:
        {{producto.Precio}}€</h3>
      <h3 class="Precio" *ngIf="this.producto.Subasta==1">{{'plantillaProducto.precioFinal' |translate}}:
        {{producto.Precio}}€</h3>

      <h3 class="Precio" *ngIf="this.producto.Subasta==1">{{'plantillaProducto.pujar' |translate}}: {{subasta.precioFinal}}€
      </h3>
      <button class="btnCompra" [routerLink]="['/carrito', producto.idProducto]">{{'plantillaProducto.comprar'
        |translate}}</button>

      <button class="btnCompra" *ngIf="this.producto.Subasta==1" (click)="pujar(this.subasta, this.producto)">{{'plantillaProducto.pujar'
        |translate}}</button>

    </div>

  </div>
</div>
<app-footer></app-footer>