<app-header></app-header>
<h1 class="h1-gestor">Gestor Productos</h1>



<div class="container">


  <table class="info-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Categoria</th>
        <th>Descripcion</th>
        <th>Fecha de subida</th>
        <th>Imagen</th>
        <th>Tipo de venta</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <h4></h4>
        </td>
        <td>
          <h4></h4>
        </td>
        <td>
          <h4></h4>
        </td>
        <td>
          <h4></h4>
        </td>
        <td>
          <h4></h4>
        </td>
        <td>
          <img class="img-table" src="">
        </td>
        <td>

        </td>
        <td class="last">
          <button>
          </button>
          <button>
          </button>
        </td>
      </tr>
  </table>

</div>

<app-footer></app-footer>