<app-header></app-header>
<h1 class="h1-gestor">{{'gestorProductosVistaUsuario.gestor' |translate}}</h1>



<div class="container">


  <div *ngFor="let prod of listaProductos; let i = index">
    <div class="contenido-div">
      <div class="arriba">
        <h4 class="h4-nombre">{{prod.Nombre}}</h4><br><br><br>
        <h4 class="h4-precio">{{prod.Precio}}€</h4>
      </div>
        <div class="desc">
          <img class="img-table" src="{{prod.Imagen}}">
          <label for="">{{'gestorProductosVistaUsuario.descripcion' |translate}}:</label>
          <p>{{prod.Descripcion}}...</p>
          <label for="">{{'gestorProductosVistaUsuario.fecha' |translate}}:</label>
          <p>{{prod.Fecha}}</p>
          <label for="">{{'gestorProductosVistaUsuario.categoria' |translate}}:</label>
          <p>{{prod.nombreCategoria}}</p>
          
        </div>
        <div class="subsata?">
          <h5 class="h5" *ngIf="prod.Subasta==0">{{'gestorProductosVistaUsuario.tipo.compra' |translate}}</h5>
          <h5 class="h5" *ngIf="prod.Subasta==1">{{'gestorProductosVistaUsuario.tipo.subasta' |translate}}</h5><br><br>
          <button class="button1">
            <app-borrar-producto [prodSelecc]="prod.idProducto"></app-borrar-producto>
          </button>
          <button class="button0">
            <app-editar-producto-modal [prodSelecc]="prod"></app-editar-producto-modal>
          </button>
        </div>
    </div>
  </div>
</div>
